x-kong-config:
  &kong-env
  KONG_DATABASE: postgres
  KONG_PG_DATABASE: kongdb
  KONG_PG_HOST: postgres-api
  KONG_PG_PASSWORD: matsupy123@
  KONG_PG_USER: postgres

services:
  api:
    build: .
    image: matsupyapi
    container_name: matsupyapi
    ports:
      - "18001:8080"
    restart: always
    #networks:
    #  - matsupy-net
  postgres-api:
    build: ./postgres
    container_name: postgres-api
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-api-data:/var/lib/postgresql/data
  kong-migrations:
    image: kong:3.9.0
    command: kong migrations bootstrap
    environment:
      <<: *kong-env
    depends_on:
      - postgres-api
  kong:
    image: kong:3.9.0
    container_name: kong-gateway
    depends_on:
      - kong-migrations
    environment:
      <<: *kong-env
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: "0.0.0.0:9001"
      KONG_ADMIN_GUI_LISTEN: "0.0.0.0:9002"
      KONG_PROXY_LISTEN: "0.0.0.0:9000"
    ports:
      - "9000:9000"
      - "9001:9001"
      - "9002:9002"
      - "9003:9003"
    restart: unless-stopped

volumes:
  postgres-api-data: